      <div class="container-fluid p-1 wrap-filter">
         <div class="container">
            <div class="wrap-fillter row">
               <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="select-catagory">Danh mục: </label><br>
                  <select name="catagory" id="select-catagory">
                     <option value="http://localhost:3000/filter?category=Đồ may mặc">Đồ may mặc</option>
                     <option value="http://localhost:3000/filter?category=Đồ học tập">Đồ học tập</option>
                     <option value="">Thực phẩm</option>
                     <option value="">Nội thất</option>
                      <option value="">Đồ nội trợ, điện dân dụng</option>
                  </select>
               </div>
               <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="select-address">Khu vực: </label><br>
                  <select name="address" id="select-address">
                     <option value="">Toàn quốc</option>
                     <option value="http://localhost:3000/search?searchterm=Hồ Chí Minh">Hồ Chí Minh</option>
                     <option value="http://localhost:3000/search?searchterm=Hà Nội">Hà Nội</option>
                     <option value="http://localhost:3000/search?searchterm=Đà Nẵng">Đà Nẵng</option>
                     <option value="http://localhost:3000/search?searchterm=Hải Phòng">Hải Phòng</option>
                     <option value="http://localhost:3000/search?searchterm=Nghệ An">Nghệ An</option>
                  </select>
               </div>
               <!-- <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="filter-sort">Sắp xếp theo: </label><br>
                  <select name="sort-product" id="filter-sort">
                     <option value="price-up">Giá thấp trước</option>
                     <option value="post">Tin mới trước</option>
                  </select>
               </div> -->
            </div>
         </div>
      </div>